name: "$INSTANCE_NAME"

services:
  backend:
    image: "backend-$INSTANCE_NAME"
    container_name: "backend-$INSTANCE_NAME"
    ports: 
      - "$ASPNETCORE_HTTP_PORTS:$BACKEND_PORT"
    volumes:
      - $INSTANCE_DIR/database.db:$DATABASE_PATH
      - $INSTANCE_DIR/logs:$LOG_DIRECTORY
    env_file: ".env"