.fund-amount-collection-entry-frame .combo-box-entry-field {
  margin-top: 15px;
  width: 50%;
}

.fund-amount-collection-entry-frame .currency-entry-field {
  margin-top: 15px;
}

.fund-amount-collection-entry-frame > .MuiTypography-root {
  margin-top: 15px;
}

.fund-amount-collection-entry-frame .MuiTypography-body2 {
  margin-top: 10px;
}
