.fund-amount-collection-entry-frame {
  padding: 0px 15px 15px 15px;
  vertical-align: middle;
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin-top: 15px;
  min-width: 300px;
}

.fund-amount-collection-entry-frame .combo-box-entry-field {
  margin-top: 15px;
}

.fund-amount-collection-entry-frame .currency-entry-field {
  margin-top: 15px;
}

.fund-amount-collection-entry-frame > .MuiTypography-root {
  margin-top: 15px;
}

.fund-amount-collection-entry-frame .MuiTypography-body2 {
  margin-top: 10px;
}
